/* ログイン画面専用のスタイル */

.login-page .form-action {
    text-align: center;
    margin-top: 30px;
}

.login-page .auth-btn {
    background-color: #7a6756; 
    color: rgba(255, 255, 255, 0.858);
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    transition: background-color 0.2s;
    width: auto;
    min-width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-page .auth-btn:hover {
    background-color: #7a6756;
}