.login-page .form-action {
    text-align: center;
    margin-top: 30px;
}

.login-page .auth-btn {
    background-color: #7a6756; 
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-page .auth-btn:hover {
    background-color: #7a6756;
}