.register-page .form-action {
    text-align: center;
    margin-top: 30px;
    width: 100%; 
}

.register-page .auth-btn {
    background-color: #7a6756; 
    color: rgba(255, 255, 255, 0.822);
}

.register-page .auth-btn:hover {
    background-color: #7a6756;
}